__pycache__
.vscode
data_nft.json
token.json
comm_test.py
viewDataViaMVXNativeAuth.ts
.env.local
.env
__pycache__/communication.cpython-310.pyc
__pycache__/__init__.cpython-310.pyc
__pycache__/profiles.cpython-310.pyc
pinata.py
nft_list.json
/temp